html {
  box-sizing: border-box;
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(180, 0%, 50%, 0.25);
  pointer-events: none;
}

body {
  background-image: url("../images/noaa-0ETSZYPjvDo-unsplash.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  color: white;
  padding-left: 1em;
}
nav {
  display: flex;
}

.city-search {
  display: block;
  margin: 0 auto;
  min-width: 25%;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(241, 250, 238, 0.1);
  color: white;
}

#cityCards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.city-card {
  border: 1px solid black;
  margin: 2em;
  border-radius: 10px;
  background-color: rgb(241, 250, 238, 0.7);
}

.card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  font-size: smaller;
  font-weight: 900;
}

.card-title h5 {
  font-size: 1em;
}

.card_current_weather {
  display: flex;
  align-items: center;
  position: relative;
  left: 1em;
}

.card_weather_main {
  position: relative;
  left: 0.7em;
}

.card-temp {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
}

.card_main-temp {
  font-size: 3em;
  margin: 0;
  padding-left: 0.4em;
}

.card_low_temp {
  color: rgba(57, 83, 230);
  font-size: 1.2em;
}

.card_high_temp {
  color: rgb(230, 57, 70, 0.8);
  font-size: 1.2em;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-right: 0.5em;
}

.seemore {
  background-color: rgba(57, 83, 230, 0.3);
  border-radius: 10px;
  border: 1px solid black;
  margin-left: 0.5em;
}

.seemore:hover {
  border: 1px solid white;
  color: white;
}

.delbtn {
  background-color: rgb(230, 57, 70, 0.8);
  border-radius: 50%;
  border: 1px solid black;
}

.delbtn:hover {
  border: 1px solid white;
  color: white;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: rgb(241, 250, 238);
  width: 30%;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.modal_heading {
  display: flex;
  justify-content: space-evenly;
}
.hourly_forecast_box {
  display: flex;
  overflow-x: auto;
}

.hourly_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
